[submodule "lib/themes"]
path = lib/themes
url = git@github.com:frankieandone/daivasmara.zsh-theme.git
[submodule "lib/zsh-bench"]
path = lib/zsh-bench
url = git@github.com:frankieandone/zsh-bench.git
[submodule "zsh"]
path = zsh
url = git@github.com:frankieandone/zsh.git
[submodule "app/iterm"]
	path = app/iterm
	url = git@github.com:frankieandone/iterm.git
